*{
    margin: 0;
    padding: 0;

    transition-duration: 0.6s;
}

#root{
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
}

button, textarea{
    border: none;
    outline: none;
}

svg{
    color: aliceblue;
    height: 1.2em;
}

